body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffeaa7 !important;
}

.navbar-light{
    background-color:#fdcb6e !important;
}

#logo-nav{
    width:2em;
    height:2em;
}

#logo{
    margin-top: 5em;
}

.form-control::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.8;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #00b894;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.profile-change-card-side {
    background: #00b894;
    color: #fff;
}

.profile-change-card {
    width: 550px;
    margin-top: auto;
    margin-bottom: auto;
    background: #00b894;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;	
}

.form-control, .form-control:focus{
    background:rgba(255, 255, 255, 0);
    color: #ffffff;
    border-color:#ffffff;
}

.form-control:focus{
    border-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.login_btn {
    width: 100%;
    background: #0984e3 !important;
    color: white !important;
}

.btn-primary{
    background: #0984e3 !important;
    color: white !important;
}

.btn-primary:hover{
    border-color: #ffffff !important;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6) !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.input-group-text {
    background: #0984e3 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.links{
    color:#ffffff;
}

#messages, #errors{
    background-color: #d63031;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

#state-select>option{
    color:#000 !important;
    background-color: #fdcb6e;
}

.history_table{
    margin-left: auto;
    margin-right: auto;
}