<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<title>Fuel Quote | Hexafuel Oil</title>

	<link rel="shortcut icon" type="image/x-icon" href="../static/images/logo-simple.png" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<link rel='stylesheet' type='text/css' media='screen' href='../static/css/fuel_quote.css'>

	<style>
		.profile-pic{
			max-width: 200px;
			max-height:200px;
			margin: 0 auto;
			border-radius: 50%;
		}
    </style>
    
    <script>
        function validateForm() {
          var x = document.forms["fuel-form"]["gallons"].value;
          if (isNaN(x)) {
            alert("Please enter a number for gallons.");
            return false;
          }
          if (x.length < 1) {
            alert("Please enter a number for gallons.");
            return false;
          }
        }
    </script>
</head>

<body>

	<div class="form_container">
        <form name="fuel-form" method="POST" action="" enctype="multipart/form-data" onsubmit="return validateForm()">
				
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-fill-drip"></i></span>
                </div>

                <input type="text" name="gallons" class="form-control">
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                </div>
                
                <input type="text" name="deliver-address" class="form-control" readonly>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                </div>
                
                <input type="date" name="delivery-date" class="form-control">
            </div>

            <div class="alert alert-warning cost-group" role="alert">
                <div class="row">
                    <div class="col-md-4">
                        Cost per Gallons: $4.12
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <h4>Total Cost: $100</h4>
                </div>
                </div>
            </div>
        <input class="btn btn-primary centered" type="submit" name="Calculate Cost" value="Calculate Cost">
        </form>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

	//Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[0].placeholder='Gallons';
	form_fields[1].placeholder='123 Fake Address';
	form_fields[2].placeholder='Delivery Date';


	for (var field in form_fields){	
		form_fields[field].className += ' form-control'
	}
</script>

</html>